<form (ngSubmit)="onSubmit()">
  <h2 i18n="Titre du formulaire de connexion|Titre pour la section de connexion">Connexion</h2>
  <div>
    <label for="email" i18n>Email</label
    ><input id="email" type="email" [(ngModel)]="email" name="email" />
  </div>
  <div>
    <label for="password" i18n>Mot de passe</label
    ><input id="password" type="password" [(ngModel)]="password" name="password" />
  </div>
  <button type="submit" [disabled]="isLoading()">
    @if (isLoading()) {
      <span i18n>Connexion...</span>
    } @else {
      <span i18n>Se connecter</span>
    }
  </button>

  @if (error()) {
    <p class="error">{{ error() }}</p>
  }
</form>
